flow.json
[
    {
        "id": "9f11b6f3645509cd",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3be8e943e689619b",
        "type": "ui_table",
        "z": "9f11b6f3645509cd",
        "group": "3309b7360722214e",
        "name": "",
        "order": 2,
        "width": 10,
        "height": 18,
        "columns": [
            {
                "field": "id",
                "title": "Id",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "name",
                "title": "Host",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "host",
                "title": "IP",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "time",
                "title": "Time",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "response",
                "title": "Response",
                "width": "",
                "align": "left",
                "formatter": "traffic",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "status",
                "title": "Status",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 1379,
        "y": 150,
        "wires": [],
        "l": false
    },
    {
        "id": "25a2ff826c05cf52",
        "type": "inject",
        "z": "9f11b6f3645509cd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"name\":\"A\",\"host\":\"10.0.0.1\"},{\"name\":\"B\",\"host\":\"10.0.0.40\"},{\"name\":\"C\",\"host\":\"10.0.0.99\"}]",
        "payloadType": "json",
        "x": 138,
        "y": 162,
        "wires": [
            [
                "49dae4f82ae9e019"
            ]
        ],
        "l": false
    },
    {
        "id": "10dbb00d04aadbbe",
        "type": "ping",
        "z": "9f11b6f3645509cd",
        "protocol": "IPv4",
        "mode": "triggered",
        "name": "",
        "host": "",
        "timer": "20",
        "inputs": 1,
        "x": 553,
        "y": 157,
        "wires": [
            [
                "32da3003d7b03bed",
                "039548773adfb5c9"
            ]
        ],
        "l": false
    },
    {
        "id": "ab488947a355c07a",
        "type": "join",
        "z": "9f11b6f3645509cd",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "10",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1148,
        "y": 97,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "df1e884ccaac2c46",
        "type": "change",
        "z": "9f11b6f3645509cd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"command\": \"updateOrAddRow\",\t   \"arguments\": [\t       ping.id,\t       {\t   \"id\": ping.id,\t   \"name\": ping.name,\t   \"host\": ping.host,\t   \"response\": payload,\t   \"time\": time,\t   \"status\": up\t},\t       \"true\"\t    ],\t   \"returnPromise\": \"true\"\t}\t\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1084,
        "y": 154,
        "wires": [
            [
                "ab488947a355c07a",
                "3be8e943e689619b",
                "a5ee5ca45e9cf840"
            ]
        ],
        "l": false
    },
    {
        "id": "195fb956e28cd54c",
        "type": "range",
        "z": "9f11b6f3645509cd",
        "minin": "0",
        "maxin": "100",
        "minout": "100",
        "maxout": "0",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 951,
        "y": 155,
        "wires": [
            [
                "df1e884ccaac2c46"
            ]
        ],
        "l": false
    },
    {
        "id": "ed79e6fd536dac89",
        "type": "change",
        "z": "9f11b6f3645509cd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "time",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "100",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 868,
        "y": 155,
        "wires": [
            [
                "195fb956e28cd54c"
            ]
        ],
        "l": false
    },
    {
        "id": "32da3003d7b03bed",
        "type": "ui_chart",
        "z": "9f11b6f3645509cd",
        "name": "",
        "group": "3309b7360722214e",
        "order": 3,
        "width": 10,
        "height": 6,
        "label": "chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1266,
        "y": 288,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "49dae4f82ae9e019",
        "type": "file in",
        "z": "9f11b6f3645509cd",
        "name": "",
        "filename": "/tmp/nodes.csv",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 262,
        "y": 163,
        "wires": [
            [
                "0709b5faed53f185"
            ]
        ],
        "l": false
    },
    {
        "id": "b21010a9c137728f",
        "type": "file",
        "z": "9f11b6f3645509cd",
        "name": "",
        "filename": "/tmp/nodes.csv",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 337,
        "y": 493,
        "wires": [
            [
                "49dae4f82ae9e019"
            ]
        ],
        "l": false
    },
    {
        "id": "0709b5faed53f185",
        "type": "csv",
        "z": "9f11b6f3645509cd",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 360,
        "y": 160,
        "wires": [
            [
                "10dbb00d04aadbbe"
            ]
        ],
        "l": false
    },
    {
        "id": "428a3964b10e92b6",
        "type": "inject",
        "z": "9f11b6f3645509cd",
        "name": "Reset",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 1160,
        "y": 220,
        "wires": [
            [
                "3be8e943e689619b",
                "32da3003d7b03bed"
            ]
        ],
        "l": false
    },
    {
        "id": "039548773adfb5c9",
        "type": "function",
        "z": "9f11b6f3645509cd",
        "name": "",
        "func": "if(msg.payload === false) {msg.up = \"DOWN\"}\nelse {msg.up = \"UP\"}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 738,
        "y": 155,
        "wires": [
            [
                "ed79e6fd536dac89"
            ]
        ]
    },
    {
        "id": "a5ee5ca45e9cf840",
        "type": "debug",
        "z": "9f11b6f3645509cd",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1368,
        "y": 424,
        "wires": []
    },
    {
        "id": "3419eb577ad3f47d",
        "type": "inject",
        "z": "9f11b6f3645509cd",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"command\":\"setSort\",\"arguments\":[[{\"column\":\"id\",\"dir\":\"asc\"},{\"column\":\"status\",\"dir\":\"asc\"}]]}",
        "payloadType": "json",
        "x": 1043,
        "y": 335,
        "wires": [
            [
                "3be8e943e689619b",
                "a5ee5ca45e9cf840"
            ]
        ]
    },
    {
        "id": "f7871c77b567415f",
        "type": "ui_upload",
        "z": "9f11b6f3645509cd",
        "group": "3309b7360722214e",
        "title": "upload",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "chunk": 256,
        "transfer": "text",
        "x": 263,
        "y": 572,
        "wires": [
            [
                "b21010a9c137728f"
            ]
        ]
    },
    {
        "id": "b114b7dfa9d3ad16",
        "type": "ui_spacer",
        "z": "9f11b6f3645509cd",
        "name": "spacer",
        "group": "3309b7360722214e",
        "order": 4,
        "width": 10,
        "height": 1
    },
    {
        "id": "ceb606553edf6761",
        "type": "ui_spacer",
        "z": "9f11b6f3645509cd",
        "name": "spacer",
        "group": "3309b7360722214e",
        "order": 5,
        "width": 10,
        "height": 1
    },
    {
        "id": "dee06ec4d35e5750",
        "type": "ui_spacer",
        "z": "9f11b6f3645509cd",
        "name": "spacer",
        "group": "3309b7360722214e",
        "order": 6,
        "width": 10,
        "height": 1
    },
    {
        "id": "c248b5cb8e5b7de3",
        "type": "ui_spacer",
        "z": "9f11b6f3645509cd",
        "name": "spacer",
        "group": "3309b7360722214e",
        "order": 7,
        "width": 10,
        "height": 1
    },
    {
        "id": "06d379da3e2eef59",
        "type": "ui_spacer",
        "z": "9f11b6f3645509cd",
        "name": "spacer",
        "group": "3309b7360722214e",
        "order": 8,
        "width": 10,
        "height": 1
    },
    {
        "id": "10a663cd6de505a3",
        "type": "ui_spacer",
        "z": "9f11b6f3645509cd",
        "name": "spacer",
        "group": "3309b7360722214e",
        "order": 9,
        "width": 10,
        "height": 1
    },
    {
        "id": "ddbf43bc24fc00e5",
        "type": "ui_spacer",
        "z": "9f11b6f3645509cd",
        "name": "spacer",
        "group": "3309b7360722214e",
        "order": 10,
        "width": 10,
        "height": 1
    },
    {
        "id": "e5b7e6150ceefa50",
        "type": "ui_spacer",
        "z": "9f11b6f3645509cd",
        "name": "spacer",
        "group": "3309b7360722214e",
        "order": 11,
        "width": 10,
        "height": 1
    },
    {
        "id": "c520eaf17161395c",
        "type": "ui_spacer",
        "z": "9f11b6f3645509cd",
        "name": "spacer",
        "group": "3309b7360722214e",
        "order": 12,
        "width": 10,
        "height": 1
    },
    {
        "id": "b88861282bb9e55a",
        "type": "ui_spacer",
        "z": "9f11b6f3645509cd",
        "name": "spacer",
        "group": "3309b7360722214e",
        "order": 13,
        "width": 10,
        "height": 1
    },
    {
        "id": "4e0e73103481a929",
        "type": "ui_spacer",
        "z": "9f11b6f3645509cd",
        "name": "spacer",
        "group": "3309b7360722214e",
        "order": 14,
        "width": 10,
        "height": 1
    },
    {
        "id": "ef43c835eb2af01b",
        "type": "ui_spacer",
        "z": "9f11b6f3645509cd",
        "name": "spacer",
        "group": "3309b7360722214e",
        "order": 15,
        "width": 10,
        "height": 1
    },
    {
        "id": "3309b7360722214e",
        "type": "ui_group",
        "name": "Default",
        "tab": "9a1c955649d0e73b",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9a1c955649d0e73b",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
